absl-py                           
asn1crypto                        
astor                             
attrs                             
Automat                           
backcall                                                                        
cffi                              
Click                             
colorama                          
constantly                        
cryptography                      
cssselect                         
cycler                                                    
defusedxml                        
entrypoints                       
Flask                             
Flask-Cors                        
fuzzywuzzy                        
gast                              
grpcio                                                                                                     
incremental                                       
ipywidgets                                            
jedi                              
Jinja2                           
jsonschema                                    
kiwisolver                        
lxml                                                                                                    
mistune                           
mock                              
nbconvert                         
nbformat                                                   
numexpr                           
numpy                             
nvidia-ml-py3                     
packaging                         
pandas                            
pandocfilters                     
parsel                            
parso                             
pbr                               
pickleshare                       
Pillow                            
pip                                                        
prometheus-client                 
prompt-toolkit                    
protobuf                          
pyasn1                            
pyasn1-modules                    
pycparser                         
PyDispatcher                      
Pygments                          
PyHamcrest                        
pymongo                           
pyOpenSSL                         
pyparsing                                               
python-crfsuite                   
python-dateutil                   
pytz                                                                                  
PyYAML                            
pyzmq                                                     
queuelib                                                                                                      
Send2Trash                        
service-identity                  
setuptools                        
six                                              
soupsieve                         
tabulate                                                
tensorflow                        
tensorflow-estimator              
termcolor                         
terminado                         
testpath                                               
tornado                           
tqdm                              
traitlets                         
Twisted                           
w3lib                             
wcwidth                           
webencodings                      
Werkzeug                          
wheel                             
widgetsnbextension                
zope.interface
dnspython
gunicorn
keras
python-dotenv